{#
/**
 * @file
 * Default theme implementation to display an external entity.
 *
 * Available variables:
 * - content: The external entity.
*/
#}
{%
  set classes = [
  '[ cd-flow ]'
]
%}

{{ attach_library('common_design/cd-teaser') }}

<article{{ attributes.addClass(classes) }}>

  <div class="cd-teaser__container [ cd-flow ]">
    <div class="cd-teaser__description node__content">

      {{ content.field_accessibility }}

      {% if content.field_accessibility['#items'].getString() == 'Publicly Available' %}
        {{ content.field_files }}
        {{ content.field_instructions }}
      {% else %}
        {{ content.field_instructions }}
      {% endif %}

    </div>

  </div>

</article>
